[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = {extras = ["redis"] }
alembic = "*"
dependency-injector = "*"
asyncpg = "*"
psycopg2-binary = "*"
pydantic = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
aiohttp = "*"
tenacity = "*"
bs4 = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.13"

[scripts]
server = "python -m app"
migrate = "alembic upgrade head"
celery = "celery -A apps.scraper.celery worker --loglevel=info"
